<%= link_to 'New Developer', new_developer_path, class: 'btn btn-success' %>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>City</th>
    <th>Speciality</th>
    <th>Current Position</th>
    <th>Current Company</th>
    <th>Time as current company</th>
    <th>Technologies</th>
    <th>Skills</th>
    <th>Birthday</th>
    <th>Linkedin</th>
    <th>Github</th>
    <th>Other Links</th>
    <th>Recommended By</th>
    <th>Notes</th>
    <th>Need Speaking</th>
    <th>Accepted</th>
    <th>Rejected</th>
    <th>Working at us</th>
    <th>Not Interested</th>
    <th>Added at</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @developers.each do |d| %>
      <tr>
        <td><%= link_to d.id, edit_developer_path(d) %></td>
        <td><%= link_to d.name, edit_developer_path(d) %></td>
        <td><%= d.city %></td>
        <td><%= (d.speciality || []).delete_if(&:empty?).join(', ') %></td>
        <td><%= d.current_position %></td>
        <td><%= d.current_company %></td>
        <td><%= d.time_at_current_company %></td>
        <td><%= d.technologies %></td>
        <td><%= d.skills %></td>
        <td><%= d.birthday %></td>
        <td><%= link_to 'Linkedin', d.linkedin if d.linkedin.present? %></td>
        <td><%= link_to 'Github', d.github if d.github.present? %></td>
        <td><%= d.other_links %></td>
        <td><%= d.recommended_by %></td>
        <td>
          <p><%= d.notes %></p>
          <p><%= d.initial_speaking_notes %></p>
          <p><%= d.tech_interview_notes %></p>
          <p><%= d.vlad_notes %></p>
          <p><%= d.test_assignment_notes %></p>
        </td>
        <th><%= d.is_need_speaking? ? 'yes' : '' %></th>
        <th><%= d.is_accepted? ? 'yes' : '' %></th>
        <th><%= d.is_rejected? ? 'yes' : '' %></th>
        <th><%= d.is_working? ? 'yes' : '' %></th>
        <th><%= d.is_not_interested? ? 'yes' : '' %></th>
        <th><%= d.created_at.try(:strftime, '%H:%M %d-%b-%Y') %></th>
        <td><%= link_to 'Delete', developer_path(d), method: :delete, data: { confirm: 'Sure ?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>